@import "modern-normalize";

:root {
	/*
		See "3-bit and 4-bit" section, and then "CGA/EGA/VGA" column 
		https://en.wikipedia.org/wiki/ANSI_escape_code#colors
	*/
	--cyan: rgb(78, 243, 243);
	--blue: rgb(0, 0, 196);
	--white: rgb(196, 196, 196);
	--bright-white: rgb(255, 255, 255);
	--black: rgb(0, 0, 0);
	--bright-black: rgb(78, 78, 78);
}

@font-face {
	font-family: ibmbios2y;
	src: url("/WebPlus_IBM_BIOS-2y.woff") format("woff");
}

/* main */
.content {
	background-color: var(--white);
	font-family: ibmbios2y;
	display: flex;
	height: 100dvh;
	flex-direction: column;
}

/* headings */
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
}

h1::before {
	content: "# ";
}

h2::before {
	content: "## ";
}

h3::before {
	content: "### ";
}

h4::before {
	content: "#### ";
}

h5::before {
	content: "##### ";
}

h6::before {
	content: "###### ";
}

/* misc */
a {
	color: var(--blue);
}

a:hover {
	color: var(--bright-white);
}

mark {
	background-color: var(--black);
	color: var(--white);
}

code {
	font-family: ibmbios2y;
	color: var(--bright-black);
}

code::before,
code::after {
	content: "`";
}

/* components */
.grid-list {
	list-style: none;
	padding: 0;
	display: grid;
	grid-template-rows: repeat(1, 1fr);
	gap: 0.25rem;
}

.grid-list > li {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.grid-list > li > * {
	overflow-wrap: anywhere;
	color: var(--blue);
}

.grid-list > li > :nth-child(1) {
	text-align: left;
}

.grid-list > li > :nth-child(2) {
	text-align: right;
}
