@import "../global.css";

/* main */
.content {
	background-color: var(--white);
	font-family: ibmbios2y;
	display: flex;
	height: 100dvh;
	flex-direction: column;
}

/* headings */
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
}

h1::before {
	content: "# ";
}

h2::before {
	content: "## ";
}

h3::before {
	content: "### ";
}

h4::before {
	content: "#### ";
}

h5::before {
	content: "##### ";
}

h6::before {
	content: "###### ";
}

/* misc */
a {
	color: var(--blue);
}

a:hover {
	color: var(--bright-white);
}

mark {
	background-color: var(--black);
	color: var(--white);
}

code {
	font-family: ibmbios2y;
	color: var(--bright-black);
}

code::before,
code::after {
	content: "`";
}

/* components */
.grid-list {
	list-style: none;
	padding: 0;
	display: grid;
	grid-template-rows: repeat(1, 1fr);
	gap: 0.25rem;
}

.grid-list > * {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.grid-list > * > * {
	overflow-wrap: anywhere;
}

.grid-list > * > :nth-child(1) {
	text-align: left;
}

.grid-list > * > :nth-child(2) {
	text-align: right;
}
